body {
    background-color: teal;
    color: #fffff0;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
    font-weight: 500;
    text-align: center;
}
h3 {
    text-decoration: none;
    text-align: center;
}
#log {
    border: 2px solid blanchedalmond;
    line-height: 1.2em;
    padding: 15px 25px 15px 25px;
    margin: 15px 15px 15px 15px;
    border-width: thin;
    border-radius: 30px;
    width: 800px;
}
time {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

h4, h5 {
    font-weight: 500;
}
#link_down a:link {
color:blanchedalmond;
}

#link_down a:visited {
color: #4AF4FA;
}

#bottom a:link {
    color:blanchedalmond;
}

#bottom a:visited {
    color:#4AF4FA;
}